
/* LT Green-#A0C63F */
/* brown-#6B6F61 */

.btn3 {
    border: none;
    background: #A0C63F;
    color: #fff;
    margin-left: 10px;
}

.p {
    color: #6B6F61;
}

.menu {
    padding-top: 40px;

}

.header {
    margin-left: 80px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.umbrella-logo {
    width: 100px;
    height: 100px;
}



.carousel {
    margin: none;
    width:100%;
    height:360px;
    padding-top: 60px;
}



.device-1 {
    margin-left: 400px;
}

.device-2 {
    margin-top: 20px;
    margin-left: 450px;
}

.device-3 {
    margin-top: 20px;
    margin-left: 450px;
}

.umbrella {
    width: 10px;
    height: 10px;
}

h1 {
    color: #A0C63F;
}

.umbrella-text {
    color: #6B6F61;
}

.welcome {
    color: #6B6F61;
}

.elegantica {
    color: #A0C63F;
}



.h2-sec1 {
    margin-left: 200px;
    margin-right: 200px;
}

.phone {
    width: 125px;
    height: 125px;
}

.gear {
    width:125px;
    height: 125px;
}

.mobile {
    width: 125px;
    height: 125px;
}

.recycle {
    width: 125px;
    height: 125px;
}

.business-cards {
    width:225px;
    height: 175px;
}

.moo {
    width:225px;
    height: 175px;
}

.say-it {
    width:225px;
    height: 175px;
}

.graphics {
    width:225px;
    height: 175px;
}

.section1 {
    background: #A0C63F;
}

.section2 {
    margin-top: 40px;
}

.section3 {
    margin-top: 40px;
}

.h2-3 {
    padding-bottom: 20px;
}

.section4 {
    margin-top: 40px;
}

.block9 {
    margin-left: 100px;
}

.section5 {
   margin-top: 40px;
}

.section6 {
    background: black;
    color: #fff;
}



.text {
    color: #fff;
}

.h2-sec2 {
    margin-left: 125px;
    padding-top: 10px;
}

.facebook {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .twitter {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .rss {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .people {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .email2 {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .phone2 {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .mobile2 {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  .copyright {
      text-align: right;
  } 


.subscribe {
    background: #A0C63F;
    color: #fff;
    
}







